*body{
    margin: 0% auto;
}
#countries-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.country{
    border: 2px solid aquamarine;
    padding: 20px 20px;
    border-radius: 20px;
}